@media (min-width: 694px) and (max-width: 1250px) {
    .menu-principal {
        width: auto;
        justify-content: space-around;
    }

    .inicial::after {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .apresentacao {
        flex-direction: column;
    }

    .container {
        width: auto;
    }

    .desc {
        width: 70px;
        height: 35px;
    }

    .desc:after {
        border-left: 15px solid transparent;
        border-top: 15px solid #ffffffde;
        bottom: -14px;
    }

    .desc img {
        width: 30px;
        height: 30px;
    }

    .desc-2 {
        font-size: 14px;
    }
    
    .nome {
        font-size: 50px;
    }

    .ap-left {
        margin-top: 150px;
    }

    .ap-right img {
        height: 50vh;
        margin-left: 10%;
        margin-top: -25px;
    }
    
    .foto {
        margin: auto;
        margin-top: 200px;
    }

    .minha-foto img {
        width: auto;
    }

    .redes-desc {
        justify-content: space-around;
    }

    .frases {
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    }

    .frases .frases-desc {
        font-size: 13px;
    }

    #sobre-mim {
        width: auto;
        margin: 0 90px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .curriculo {
        text-align: center;
    }
    
    .info-desc {
        width: auto;
    }

    .sobre-mim-content {
        width: auto;
        height: auto;
        margin: 0 25px;
    }

    .minha-foto img {
        width: auto;
    }

    .meu-elemento {
        display: none;
    }

    .cartao {
        height: 360px;
        width: 450px;
    }

    .personagens-slider {
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 0 65px;
    }

    .lista-personagens {
        width: 550px;
        height: 350px;
    }

    .cartao .descricao .titulo  {
        font-size: 18px;
    }

    .cartao .descricao .texto {
        font-size: 15px;
        padding: 0 25px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
    }

    .seta  {
        right: 5px;
    }

}

@media (min-width:300px) and (max-width: 693px) {
    .menu-principal {
        width: 100%;
    }
    
    .apresentacao {
        flex-direction: column;
        justify-content: space-between;
    }

    .inicial::after {
        clip-path: polygon(150% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .redes {
        display: none;
    }

    .container {
        width: auto;
    }

    .ap-left {
        margin-top: 150px;
    }
    
    .desc {
        left: 140px;
        bottom: 18px;
        width: 60px;
        height: 25px;
    }

    .desc:after {
        border-left: 12px solid transparent;
        border-top: 10px solid #ffffffde;
        bottom: -9px;
    }

    .desc img {
        width: 20px;
        height: 20px;
    }

    .desc-2 {
        font-size: 12px;
    }
    
    .nome {
        width: 250px;
        font-size: 30px;
    }

    .ap-right {
        margin-top: 0px;
    }

    .ap-right img {
        height: 40vh;
        margin-left: 10%;
        margin-top: 0px;
    }

    .frases {
        flex-wrap: wrap;
        padding: 80px 10px;
    }
    
    .frases .frases-desc {
        font-size: 13px;
    }

    .minha-foto img {
        height: 250px;
    }

    .redes-desc {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;        
    }

    #sobre-mim {
        width: auto;
        margin: 0 40px;
        flex-direction: column;
        align-items: center;
    }

    .curriculo {
        text-align: center;
    }
    
    .meu-elemento {
        display: none;
    }

    .sobre-mim-content {
        width: auto;
        height: auto;
    }

    .sobre {
        width: auto;
        margin: 0 5px;
    }

    .desc-2 {
        margin-right: 0;
        text-align: end;
    }

    .cartao {
        height: 260px;
        width: 250px;
        gap: 8px;
    }

    .personagens-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .lista-personagens {
        width: 250px;
        height: 250px;
    }

    .cartao .descricao .titulo  {
        font-size: 15px;
    }

    .cartao .descricao .texto {
        font-size: 12px;
        padding: 0 112px;
    }

    .btn-seta {
        width: 4px;
        height: 4px;
        padding: 10px;
    }

    .btn-seta img {
        width: 20px;
    }

    .cartao .links a img {
        width: 15px;
    }

    #contato {
        gap: 15px;
    }

    .contato-info a {
        width: 140px;
        height: 150px;
        margin-top: 50px;
        padding: 30px;
    }
    
    .contato-info img {
        width: 40px;
        height: 40px;
    }

    footer {
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

}

